[variables]
NIXPACKS_NO_CACHE = "1"

[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
onlyIncludeFiles = ["package.json", "package-lock.json"]
cmds = ["npm ci --include=dev --cache=/tmp/.npm"]

[phases.build]
cmds = ["npx prisma generate", "npx remix build"]

[start]
cmd = "npm run start"